.chart-container {
  background:
    rgba(255,255,255,0.88);

  backdrop-filter: blur(18px);

  padding: 28px;

  border-radius: 32px;

  box-shadow:
    0 20px 50px rgba(15,23,42,0.08);

  position: relative;

  overflow: hidden;

  margin-bottom: 28px;

  height: 420px;

  border:
    1px solid rgba(255,255,255,0.6);
    display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container::before {
  content: "";

  position: absolute;

  width: 320px;
  height: 320px;

  background:
    rgba(59,130,246,0.08);

  border-radius: 50%;

  top: -120px;
  right: -120px;

  filter: blur(50px);
}

.chart-title {
  font-size: 24px;
  font-weight: 800;

  margin-bottom: 24px;

  color: #0f172a;
}

#expense-chart {
  width: 100% !important;
  height: 100% !important;
}

.chart-container canvas {
  max-width: 340px !important;
  max-height: 340px !important;
}

.bar-chart-container {
  background:
    rgba(255,255,255,0.75);

  backdrop-filter: blur(14px);

  border-radius: 28px;

  padding: 26px;

  margin-top: 24px;

  box-shadow:
    0 14px 40px rgba(15,23,42,0.06);

  height: 420px;
}

.chart-subtitle {
  font-size: 22px;
  font-weight: 800;

  margin-bottom: 20px;

  color: #7c3aed;
}

#monthly-chart {
  width: 100% !important;
  height: 320px !important;
}

body.dark-mode .bar-chart-container {
  background:
    rgba(30,41,59,0.82);

  border:
    1px solid rgba(255,255,255,0.08);
}

.line-chart-box {
  background: rgba(255,255,255,0.75);

  backdrop-filter: blur(14px);

  border-radius: 28px;

  padding: 26px;

  margin-top: 24px;

  box-shadow:
    0 14px 40px rgba(15,23,42,0.06);

  height: 420px;
}

.chart-header {
  font-size: 22px;
  font-weight: 800;

  margin-bottom: 20px;

  color: #7c3aed;
}

#weekly-chart {
  width: 100% !important;
  height: 320px !important;
}

body.dark-mode .line-chart-box {
  background: rgba(30,41,59,0.82);

  border: 1px solid rgba(255,255,255,0.08);
}

@media (max-width: 768px) {

  .chart-container {
    height: auto !important;
    min-height: 420px;
    padding: 20px;
  }

  .chart-container canvas {
    max-width: 100% !important;
    max-height: 260px !important;
  }

  .bar-chart-container,
  .line-chart-box {
    height: auto !important;
    min-height: 420px;
    max-height: none !important;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 18px;
  }

  #monthly-chart,
  #weekly-chart {
    min-width: 700px;
    height: 320px !important;
  }

  .chart-title,
  .chart-subtitle,
  .chart-header {
    font-size: 18px;
  }
}